* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
a {
  color: beige;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: none;
}

aside {
  backdrop-filter: blur(0.1px);
  border-right: 1px solid #ffffff2a;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
}

article {
  backdrop-filter: blur(0.1px);
  border-left: 1px solid #ffffff2a;
  position: absolute;
  z-index: 1;
  right:0;
  top: 0;
  width: 250px;
  height: 100vh;
}

button > span {
  cursor: not-allowed;
  opacity: 0.6;
}

#main {
  display: flex;
}

#goal_title {
  background-color: #FFF2CC;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  user-select: none;
}
.interaction {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.interactionItem {
  gap: 10px;
  display: flex;
  background: aliceblue;
  border: 1px solid gray;
  padding: 2px;
  justify-content: center;
  align-items: center;
}