* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
#navbar {
  flex-basis: 20%;
}

#map_view {
  flex-basis: 50%;
  position: relative;
}

#map_interaction_section {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.information {
  flex-basis: 30%;
}

button {
  border: none;
  outline: none;
  background: none;
}

aside {
  backdrop-filter: blur(0.1px);
  border-right: 1px solid #ffffff2a;
}

a {
  color: beige;
  text-decoration: none;
}

.information {
  /* position: absolute; */
  z-index: 1;
  top:0;
  right: 0;
  height: 100vh;
  backdrop-filter: blur(0.1px);
  background-color: #FFD9660a;
  border-left: 1px solid #FFD9661a;
  width: 250px;
}

button > span {
  cursor: not-allowed;
  opacity: 0.6;
}

#main {
  display: flex;
}
#goal_title {
  background-color: #FFF2CC;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  user-select: none;
}
.interaction {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.interactionItem {
  gap: 10px;
  display: flex;
  background: aliceblue;
  border: 1px solid gray;
  padding: 2px;
  justify-content: center;
  align-items: center;
}